<div class="ui stackable centered grid">
  <div class="ten wide column">
    <div class="ui items">
      <div class="item">
        <div class="image">
          <%= image_tag @user.avatar.url(:medium) %>
        </div>
        <div class="content">
          <%= link_to "@#{@user.username}", @user, class: 'header' %>
          <div class="meta">
            <span><%= l(@post.created_at, format: :long) %></span>
          </div>
          <div class="description">
            <p><%= @post.message %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <%= link_to edit_user_post_path(@user, @post), class: 'ui mini blue inverted button' do %>
          <i class="edit icon"></i>
          <%= t('views.post.edit') %>
      <% end %>
      <%= link_to user_post_path(@user, @post), class: 'ui mini red inverted button',
                  data: { confirm: t('views.post.delete_confirmation') }, method: :delete do %>
          <i class="trash icon"></i>
          <%= t('views.post.destroy') %>
      <% end %>
    </div>
  </div>
</div>