<div class="ui stackable grid">
  <div class="six wide column">
    <div class="ui items">
      <div class="item">
        <div class="ui small image">
          <%= image_tag @user.avatar.url(:medium) %>
        </div>
        <div class="middle aligned content">
          <div class="header"><%= @user.full_name %></div>
          <div class="meta">
            <span>@<%= @user.username %></span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            <%= t('views.user.member_since') %> <%= l(@user.created_at, format: :date_only) %>
          </div>
          <div class="follow">
            <div class="ui green label">
              <%= t('views.user.followers') %>
              <div class="detail">214</div>
            </div>
            <div class="ui green label">
              <%= t('views.user.following') %>
              <div class="detail">120</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <% if @user == @current_user %>
      <%= render 'users/posts/form' %>
    <% end %>
    <h3 class="ui header">Posts</h3>
    <div class="ui comments">
      <% @user.posts.by_created_date.each do |post| %>
        <div class="comment">
          <span class="avatar">
            <%= image_tag @user.avatar.url(:thumb) %>
          </span>
          <div class="content">
            <span class="author">@<%= @user.username %></span>
            <% if @user == @current_user %>
              <div data-turbolinks="false" class="ui dropdown">
                <i class="dropdown icon"></i>
                <div class="menu">
                  <%= link_to t('views.post.edit'), edit_user_post_path(@user, post), class: 'item' %>
                  <%= link_to t('views.post.destroy'), user_post_path(@user, post),
                              method: :delete,
                              data: { confirm: t('views.post.delete_confirmation') },
                              class: 'item' %>
                </div>
              </div>
            <% end %>
            <div class="metadata">
              <span class="date"><%= l(post.created_at, format: :short) %></span>

            </div>
            <div class="text">
              <%= post.message %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>